# Git
.git
.env
.env.example
.gitignore
.github

# Terraform
.terraform
*.tfstate
*.tfstate.backup

# IDE
.idea
.vscode
*.swp
*.iml

# Logs
*.log
logs/

# Binaries
bin/
main
app
*.test
*.out
*.exe

# Go
vendor/
go.work

# OS
.DS_Store
Thumbs.db
